.app {
  font-family: sans-serif;
  text-align: right;
  width: 300px;
  background-color: hsl(0, 0%, 25%);
  border-radius: 20px;
  height: 20px;
}

.app div {
  height: 20px;
  border-radius: 20px;
  background-color: #00cb78;
}

span {
  margin-right: 5px;
}
